h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    background-color: rgb(255, 0, 0);
    padding: 25px;
    color: rgb(0, 0, 0);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8rem;
    display: inline-block;

}

.search-feature {
    float: right;
    display: inline-flex;
    padding: 3rem;

}

.day-head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 0, 0);

}

.todays-weather {
    float: left;

}